# sbt compilation output
target/
project/target
# Compiler output and nodejs modules
**/*.html
**/*.wat
**/*.wasm
**/*.js
node_modules
package-lock.json
markdown/
amydoc/
# IntelliJ IDEA config files
.idea
# Archive files
*.zip
