# sbt compilation output
target/
project/target
# Compiler output and nodejs modules
**/*.html
**/*.wat
**/*.wasm
**/*.js
node_modulesi
package-lock.json
# IntelliJ IDEA config files
*/.idea
# Archive files
*.zip
